---
layout: default
---

<article class="custom-post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="custom-post-header">
    <h1 class="custom-post-title p-name" itemprop="name headline">{{ page.title | escape }}
      • {% include read_time.html -%}
    </h1>

    <p class="custom-post-meta post-meta-title">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="custom-dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="custom-dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="custom-p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif %}
    </p>

    {%- if page.description -%}
      <h2>Description</h2>
      {%- if site.html_escape.description -%}
        <p class="custom-page-description">{{ page.description | escape }}</p>
      {%- else -%}
        <p class="custom-page-description">{{ page.description }}</p>
      {%- endif -%}
    {%- endif -%}
    

    {% if page.categories.size > 0 and site.show_tags %}
      <p class="custom-category-tags"><i class="fas fa-tags custom-category-tags-icon"></i>
      {% for category in  page.categories  %}
        {%- assign prefix = category | slice: 0 -%}
        {% if prefix == "C" %}
          <a class="custom-category-tags-link" href="{{site.baseurl}}/categories/cte#{{category|slugize}}">{{category}}</a>
        {% else %}
          <a class="custom-category-tags-link" href="{{site.baseurl}}/categories/ap#{{category|slugize}}">{{category}}</a>
        {% endif %}
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
      </p>
    {% endif %}

    {%- if page.toc -%}
      {% include toc.html html=content %}
    {%- endif -%}

  </header>

  <div class="custom-post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  {%- if page.comments -%}
    {%- include utterances.html -%}
  {%- endif -%}
  <a class="custom-u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
